R-package/.Rproj.user
R-package/.Rhistory
.RData
.Ruserdata
R-package/RSeq_out
*.snakemake*
*RSeq.Rproj*
.Rproj.user
.idea
R-package/run_vars.json
RSeq_out*
*.fastq
*.bam
*.bw
*.bedGraph
venv/
analysis/
*data/rlfs*
rseq/uploads/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.Rproj.user
/.snakemake/
/.snakemake/log/
/helpers/data/rlfs_bed/
/helpers/data/rlfs/
/helpers/data/rlfs-beds/
