R-package/.Rproj.user
R-package/.Rhistory
.RData
.Ruserdata
R-package/RSeq_out
R-package/.snakemake
R-package/RSeq.Rproj
.idea
R-package/run_vars.json
RSeq_out*
venv/


rseq/uploads/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.Rproj.user
/.snakemake/
/.snakemake/log/
