R-package/.Rproj.user
R-package/.Rhistory
.RData
.Ruserdata
R-package/RSeq_out
*.snakemake*
*RSeq.Rproj*
.Rproj.user
.idea
R-package/run_vars.json
RSeq_out*
*.fastq
*.bam
*.bw
*.bedGraph
venv/
analysis/
*data/rlfs*
bin/RSeq/uploads/
*.Rhistory*
misc/export
*.pyc
__pycache__/
*.ipynb_checkpoints*
instance/

.pytest_cache/
.coverage
htmlcov/
rseq_out/

build.log

dist/
build/
*.egg-info/
.Rproj.user
/.snakemake/
/.snakemake/log/
/RSeq/data/rlfs_bed/
/RSeq/data/rlfs/
/RSeq/data/rlfs-beds/
logfile*
misc/conservation_analysis/data/final-peaks-unstranded/
misc/conservation_analysis/data/hg38_10kb-widow_2.5kb-step_tiles.intersected.bed
misc/conservation_analysis/data/hg38_10kb-widow_2.5kb-step_tiles.bed
