{% extends 'base.html' %}

{% block content %}
<p>runs</p>
<form method="post" enctype="multipart/form-data">
  <label for="run_name">Run name</label>
  <input name="run_name" id="run_name" value="{{ request.form['run_name'] or run['run_name'] }}" require>
  <label for="sample_sheet">Sample_sheet</label>
  <input type="file" name="sample_sheet" id="sample_sheet" value="{{ request.form['sample_sheet'] or run['sample_sheet'] }}">
  <input type="submit" value="enter">
</form>
<hr>
<div id="row">
  <div id="col">
    <a role="button" href="{{ url_for('dashboard.dashboard') }}" class="btn btn-default btn-lg">
      <span class="fa fa-chevron-left"></span> Dashboard
    </a>
  </div>
</div>
{% endblock %}