<!--Most of this is ripped straight from the snakemake gui html -->
<!--https://github.com/snakemake/snakemake/blob/master/snakemake/gui.html-->
{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cpettitt.github.io/project/dagre-d3/v0.1.5/dagre-d3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css"/>

<div id="top">
    <div id="dag-container">
        <svg id="dag">
        </svg>
    </div>
    <div id="workflow-progress">
        <div id="progress-bar">
        </div>
        <div id="progress-text">
        </div>
    </div>
</div>
<table id="bottom">
    <tr>
        <td id="left-panel">
            <form class="form-horizontal" id="control">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group">
                                <button type="button" id="dryrun-btn" class="btn btn-default">Dry-Run</button>
                                <button type="button" id="dag-btn" class="btn btn-default">DAG</button>
                                <button type="button" id="run-btn" class="btn btn-default">Run</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="targets" class="col-sm-2 control-label">Targets</label>
                        <div class="col-sm-10">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <h4>Resources</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cores" class="col-sm-2 control-label">{{cores_label}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="col-sm-10 form-control" id="cores" value="1">
                        </div>
                    </div>
                    {% for resource in resources %}
                        <div class="form-group">
                            <label for="{{resource}}" class="col-sm-2 control-label">{{resource}}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><input type="checkbox" id="{{resource}}"></span>
                                    <input type="text" class="form-control" id="{{resource}}_value">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </form>
        </td>
        <td id="log">
        </td>
    </tr>
</table>


{% endblock %}
