<!--Most of this is ripped straight from the snakemake gui html -->
<!--https://github.com/snakemake/snakemake/blob/master/snakemake/gui.html-->
{% extends 'base.html' %}

{% block content %}
<style>
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  var status = {{status|tojson|safe}};
  console.log(status);

  var configs = {{sample_dict|tojson|safe}}


  jQuery(document).ready(function($){
    $.ajax({
          type: "get",
          url: "/runs/{{run_id}}/track_flight",
          data: {
            samples: Object.keys(configs)
          },
          success:function(response) {
            var json = JSON.parse(response);
            console.log(json);
          }
        });
  });


  var include_arr = ["\u003cstrong class=\"text-info\"\u003eIn flight \u2708\ufe0f\u003c/strong\u003e",
                     "\u003cstrong class=\"text-info\"\u003eSafely aborting\u003c/strong\u003e"]

  if (include_arr.includes(status)) {
    setInterval(function() {
      $.ajax({
        type: "get",
        url: "/runs/{{run_id}}/track_flight",
        success:function(response) {
          var json = JSON.parse(response);
          console.log(json);
          console.log(json['msg']);
          if (['aborted', 'failed'].includes(json['msg'])) {
            window.location.href = "/runs/{{run_id}}/monitor";
           };
        }
      });
    }, 5000);
  } else {
    console.log("Not running yet.");
  }

</script>

<div class="row">
  <div class="col">
    <div class="d-flex align-items-center">
      <h1 style="display: inline;">Control panel for '{{run_name}}'&nbsp;</h1>
      {% if status == '<strong class="text-info">Ready for takeoff 🛫</strong>' %}
        <a role="button" href="/runs/{{run_id}}/takeoff" id="run-btn" class="btn btn-success">Takeoff</a>
      {% elif status == '<strong class="text-info">In flight ✈️</strong>' %}
        <a role="button" href="/runs/{{run_id}}/abort" id="terminate-btn" class="btn btn-danger">Abort</a>
      {% elif status == '<strong class="text-info">Safely aborting</strong>' %}
        <a role="button" href="/runs/{{run_id}}/abort" aria-disabled="true" id="abort-btn" class="btn btn-danger disabled">Abort</a>
      {% elif status == '<strong class="text-danger">Failed! ❌</strong>' %}
      <a role="button" href="/runs/{{run_id}}/takeoff?" id="retryun-btn" class="btn btn-info">Retry unfinished</a>
      <a role="button" href="/runs/{{run_id}}/takeoff?rerun=true" id="retryall-btn" class="btn btn-warning">Retry all</a>
      {% elif status == '<strong class="text-info">Complete! ✔️</strong>' %}
        <a role="button" href="/runs/{{run_id}}/report" id="report-btn" class="btn btn-info">View report</a>
        <a role="button" href="/runs/{{run_id}}/takeoff?rerun=true" id="rerun-btn" class="btn btn-warning">Re-run</a>
      {% endif %}
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <h3>Flight plan</h3>
    <div class="d-flex align-items-center">
      <div class="card-deck">
        {% for sample_name, sample_data in sample_dict.items() %}
        <div class="card border-{{ sample_data['card_color'] }} mb-3" style="max-width: 30rem;">
          <div class="card-header text-{{ sample_data['card_color'] }}"><strong>{{sample_name}}</strong></div>
          <div class="card-body text-{{ sample_data['card_color'] }}">
            <h5 class="card-title">Status: {{ sample_data['status'] }} ({{ sample_data['progress'] }})</h5>
<!--            <p class="card-text">Pipeline: {{ sample_data['pipeline']}}</p>-->
            <p class="card-text">Experiment: {{ sample_data['experiments']}}</p>
            <p class="card-text">Control: {{ sample_data['controls']}}</p>
            <p class="card-text">Moeity: {{ sample_data['moeity']}}</p>
            <p class="card-text">IP type: {{ sample_data['ip_type']}}</p>
            <p class="card-text">Library: {{ sample_data['library']}}</p>
            <p class="card-text">Output: {{ sample_data['out_dir']}}</p>
            <p class="card-text">Genome: {{ sample_data['genome']}}</p>
            <p class="card-text">Pipeline: {{ sample_data['pipeline']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<hr>
<div id="row">
  <div id="col">
    <a role="button" href="{{ url_for('dashboard.dashboard') }}" class="btn btn-default btn-lg">
      <span class="fa fa-chevron-left"></span> Dashboard
    </a>
  </div>
</div>
{% endblock %}
