<!--Most of this is ripped straight from the snakemake gui html -->
<!--https://github.com/snakemake/snakemake/blob/master/snakemake/gui.html-->
{% extends 'base.html' %}

{% block content %}
<a role="button" href="/runs/{{run_id}}/execute_dryrun" id="dryrun-btn" class="btn btn-default">Dry-Run</a>
<a role="button" href="/runs/{{run_id}}/execute_dag" id="dag-btn" class="btn btn-default">DAG</a>
<a role="button" href="/runs/{{run_id}}/execute_run" id="run-btn" class="btn btn-default">Run</a>
<a role="button" href="/runs/{{run_id}}/terminate_run" id="terminate-btn" class="btn btn-danger">Terminate</a>
{% endblock %}
